<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <title>Matador de Monstros</title>
</head>

<body>
    <div id="app">
        <div id="personagens">
            <div id="jogador">
                <h2 class="personagem">Jogador</h2>
                <div class="barra-externa">
                    <div class="barra-interna" :class="{menorQ20 : menorQ20Jogador, maiorOuIgualA20 : !menorQ20Jogador}"
                        :style="{width: barraJogadorEstilizada}"></div>
                </div>
                <div class="progresso">{{ vidaJogador }}%</div>
            </div>

            <div id="monstro">
                <h2 class="personagem">Monstro</h2>
                <div class="barra-externa">
                    <div class="barra-interna" :class="{menorQ20 : menorQ20Monstro, maiorOuIgualA20 : !menorQ20Monstro}"
                        :style="{width: barraMonstroEstilizada}"></div>
                </div>
                <div class="progresso">{{ vidaMonstro }}%</div>
            </div>
        </div>

        <div id="acoes" v-if="apareceAcoes">
            <div class="acao" @click="atacar">ATAQUE</div>
            <div class="acao" @click="atacarEspecial">ATAQUE ESPECIAL</div>
            <div class="acao" @click="curar">CURAR</div>
            <div class="acao" @click="desistir">DESISTIR</div>
        </div>

        <div id="resultado" v-if="apareceResultado">
            <p class="derrota" v-if="apareceDerrota">Você perdeu! :(</p>
            <p class="vitoria" v-if="apareceVitoria">Você ganhou!!! :)</p>
            <p class="empate" v-if="apareceEmpate">Empatou!! :/</p>
        </div>

        <div id="iniciar" v-if="apareceIniciar">
            <span @click="iniciar">INICIAR NOVO JOGO</span>
        </div>

        <div id="logs" v-if="apareceLogs">
            <template v-for="(dano, indice) in danos">
                <div class="log jogador-log" v-if="indice%2 == 0">JOGADOR ATINGIU JOGADOR COM {{ dano }}.</div>
                <div class="log monstro-log" v-else>MONSTRO ATINGIU MONSTRO COM {{ dano }}.</div>
            </template>
        </div>
    </div>

    <script src="script.js"></script>
</body>

</html>